{% extends 'tracker/base.html' %}

{% block title %} Buildings {% endblock %}

{% block body %}
<div class="container">
<h1>Building View</h1>
<h2>{{ building.name }} : {{ building.association }}</h2>
{% if building.image %}
{% load staticfiles %}
<img src={% static building.image.url %} alt="Building's Image" class="img-responsive img-rounded"\>
{% endif %}

<div> <p> </p></div>

<div class="panel-group">
    {% if building.building_status == "Not Enough Info" %}
        <div class="panel panel-default">
        <div class="panel-heading"><h3>{{ building.building_status }}</h3> </div>
        <div class="panel-body"><h4>{{ building.warning_message }}</h4>
            <p> The structural health monitoring system are collecting more data.
                During this time, the system assumes that the building is not suffering from any preexistent damage.
                Should a large seismic activity occure during this time and you are worried that the building may have been damaged, please contact an expert.</p>
        </div>
    {% endif %}
    {% if building.building_status == "Good" %}
        <div class="panel panel-success">
        <div class="panel-heading"><h3>{{ building.building_status }}</h3> </div>
        <div class="panel-body"><h4>{{ building.warning_message }}</h4>
            <p> Your building seem to be in good health!</p>
            </div>
    {% endif %} 
    {% if building.building_status == "Caution" %}
        <div class="panel panel-warning">
        <div class="panel-heading"><h3>{{ building.building_status }}</h3> </div>
        <div class="panel-body"><h4>{{ building.warning_message }}</h4>
            <p> The predominant period of your structure has increased, meaning that there may be some stiffness degredation.
                If you have inspected the building and found damages, but you are either not planning to repair or it is deemed not necessary for any repair, click <td><a href={% url 'tracker:report-add' %}><button type="button" class="btn btn-default">HERE</button></a></td> to fill a report.
                If you have inspected the building and found damages, and you are repairing the damage, click <td><a href={% url 'tracker:report-add' %}><button type="button" class="btn btn-default">HERE</button></a></td> to file a report AFTER the repair.
                If you have inspected the building but found no damages, click <td><a href={% url 'tracker:report-add' %}><button type="button" class="btn btn-default">HERE</button></a></td> to consider the current predominant period as normal.</p>
        </div>
    {% endif %}
    {% if building.building_status == "Abnormal" %}
        <div class="panel panel-info">
        <div class="panel-heading"><h3>{{ building.building_status }}</h3> </div>
        <div class="panel-body"><h4>{{ building.warning_message }}</h4>
            <p> The predominant period of your structure has decreased.
                If you have renovated your building, please file a report <td><a href={% url 'tracker:report-add' %}><button type="button" class="btn btn-default">HERE</button></a></td>
                If nothing has changed about your building, click <td><a href={% url 'tracker:report-add' %}><button type="button" class="btn btn-default">HERE</button></a></td> to consider the current predominant period as normal.</p>
        </div>
    {% endif %}
    {% if building.building_status == "Dangerous" %}
        <div class="panel panel-danger">
        <div class="panel-heading"><h3>{{ building.building_status }}</h3> </div>
        <div class="panel-body"><h4>{{ building.warning_message }}</h4>
            <p> The predominant period of your structure has increased dramatically, meaning that there may be serioues stiffness degredation.
                If you have inspected the building and found damages, but you are either not planning to repair or it is deemed not necessary for any repair, click <td><a href={% url 'tracker:report-add' %}><button type="button" class="btn btn-default">HERE</button></a></td> to fill a report.
                If you have inspected the building and found damages, and you are repairing the damage, click <td><a href={% url 'tracker:report-add' %}><button type="button" class="btn btn-default">HERE</button></a></td> to file a report AFTER the repair.
                If you have inspected the building but found no damages, click <td><a href={% url 'tracker:report-add' %}><button type="button" class="btn btn-default">HERE</button></a></td> to consider the current predominant period as normal.</p>
        </div>
    {% endif %}
</div>

{% if message %}
    <p><strong>{{ message }}</strong></p>
{% endif %}
{% csrf_token %}
<div>
<table class="table table-hover">
    <tr>
        <th>Event No.</th>
        <th>Validity</th>
        <th>Processed</th>
        <th>Warning</th>
        <th>Event Time</th>
        <th>Intensity</th>
        <th>Predominant Period</th>
        <th>Error Status</th>
        <th>Edit Event</th>
        <th>Process Data</th>
    </tr>
{% for event in building.event_set.all %}
    <label for="event{{ forloop.counter }}">
        <tr class="Events">
            <td><a href={% url 'tracker:event-view' event.pk %}>{{ event.pk }}</a></td>
            {% if event.error %}
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            {% else %}
                <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            {% endif %}
            {% if event.processed %}
            <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
            {% else %}
                <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
            {% endif %}
            {% if event.might_be_error %}
                {% if event.confirme_not_error %}
                    <td><p>Confirmed Not Error</p></td>
                {% else %}
                    <td>
                        <p>Event might be an error.</p>
                        <p>If this was not an error,</p>
                        <a href={% url 'tracker:confirm_not_error' buildingpk=building.pk eventpk=event.pk %}><button type="button" class="btn btn-default">CLICK HERE</button></a>
                    </td>
                {% endif %}
            {% else %}
                <td><p>-</p></td>
            {% endif %}
            {% if event.error %}
                <td>-</td>
                <td>-</td>
                <td>-</td>
            {% else %}
                <td>{{ event.event_time }}</td>
                <td>{{ event.intensity }}</td>
                {% if event.predominant_period > 0 %}
                    <td>{{ event.predominant_period }}</td>
                {% else %}
                    <td>NOT PROCESSED</td>
                {% endif %}
            {% endif %}
            <td><a href="{% url 'tracker:change_error' buildingpk=building.pk eventpk=event.pk %}"><button type="button"
                class="btn btn-default">
                Change</button></a></td>
            <td><a href="{% url 'tracker:event_edit' buildingpk=building.pk pk=event.pk %}"><button type="button"
                class="btn btn-default">
                Update</button></a></td>
            <td><a href="{% url 'tracker:process_event' buildingpk=building.pk eventpk=event.pk %}"><button type="button"
                class="btn btn-default">
                Process</button></a></td>
        </tr>
    </label><br>
{% endfor %}
</table>
</div>
{% endblock %}

  