{% extends 'tracker/base.html' %}

{% block title %} Buildings {% endblock %}

{% block body %}
<div class="container">

<h3>{{ event.building }}</h3>
<h1>Event: {{ event.pk }} at {{ event.add_time }}</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}


<h4>Top Acceleration Graph:</h4>
{% if event.acceleration_top_graph %}
{% load staticfiles %}
<img src={% static event.acceleration_top_graph.url %} alt="Event's Top Acceleration Graph" class="img-responsive"\>
{% else %}
<h5>NOT FOUND</h5>
{% endif %}

<h4>Bot Acceleration Graph:</h4>
{% if event.acceleration_bot_graph %}
{% load staticfiles %}
<img src={% static event.acceleration_bot_graph.url %} alt="Event's Bot Acceleration Graph" class="img-responsive"\>
{% else %}
<h5>NOT FOUND</h5>
{% endif %}

<h4>Top Fourier Graph:</h4>
{% if event.fourier_top_graph %}
{% load staticfiles %}
<img src={% static event.fourier_top_graph.url %} alt="Event's Top Fourier Graph" class="img-responsive"\>
{% else %}
<h5>NOT FOUND</h5>
{% endif %}

<h4>Bot Fourier Graph:</h4>
{% if event.fourier_bot_graph %}
{% load staticfiles %}
<img src={% static event.fourier_bot_graph.url %} alt="Event's Bot Fourier Graph" class="img-responsive"\>
{% else %}
<h5>NOT FOUND</h5>
{% endif %}

<h4>Top Fourier Graph Smoothened:</h4>
{% if event.fourier_top_graph_smooth %}
{% load staticfiles %}
<img src={% static event.fourier_top_graph_smooth.url %} alt="Event's Top Fourier Graph Smoothened" class="img-responsive"\>
{% else %}
<h5>NOT FOUND</h5>
{% endif %}

<h4>Bot Fourier Graph Smoothened:</h4>
{% if event.fourier_bot_graph_smooth %}
{% load staticfiles %}
<img src={% static event.fourier_bot_graph_smooth.url %} alt="Event's Bot Fourier Graph Smoothened" class="img-responsive"\>
{% else %}
<h5>NOT FOUND</h5>
{% endif %}

<h4>Event Transfer Function:</h4>
{% if event.transfer_function_graph %}
{% load staticfiles %}
<img src={% static event.transfer_function_graph.url %} alt="Event's Transfer Function Graph" class="img-responsive"\>
{% else %}
<h5>NOT FOUND</h5>
{% endif %}

</div>
{% endblock %}