{% extends 'tracker/base.html' %}

{% block body %}
<div class="container">
<h1>Report Detail</h1>
<h4>Report No.{{ report.id }}</h4>
<h1>{{ report.building.name }} : {{ report.building.affiliation }} </h1>
{% if report.begin_modification == report.end_modification %}
<h4>{{ report.occurance }} on {{report.begin_modification }}</h4>
{% else %}
<h4>{{ report.occurance }} From {{report.begin_modification }} to {{ report.end_modification }}</h4>
{% endif %}

<div class="panel panel-default">
<div class="panel-heading"><h3>{{ report.occurance }}</h3> </div>
<div class="panel-body"><h4>{{ report.comment }}</h4>
</div>
    <td>
    {% if report.image1 %}
    {% load staticfiles %}
        <td><img src={% static report.image.url %} alt="Report's Image" class="img-responsive img-rounded"\></td>
    {% else %}
        <td><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span></td>
    {% endif %}
    </td>
    <td>
    {% if report.image2 %}
    {% load staticfiles %}
        <td><img src={% static report.image.url %} alt="Report's Image" class="img-responsive img-rounded"\></td>
    {% else %}
        <td><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span></td>
    {% endif %}
    </td>
    <td>
    {% if report.image3 %}
    {% load staticfiles %}
        <td><img src={% static report.image.url %} alt="Report's Image" class="img-responsive img-rounded"\></td>
    {% else %}
        <td><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span></td>
    {% endif %}
    </td>
    <td>
    {% if report.image4 %}
    {% load staticfiles %}
        <td><img src={% static report.image.url %} alt="Report's Image" class="img-responsive img-rounded"\></td>
    {% else %}
        <td><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span></td>
    {% endif %}
    </td>
</div>
{% endblock %}